# Config
.env
.env.local
.DS_Store

# Directories
/Temp
/build
/.cache
/CMakeFiles
/.vscode

# Cmake
cmake_install.cmake
CMakeCache.txt
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
MakeFile

# Extensions
*.log
*.tmp
